<!-- Floating Capsule Navbar -->
<header class="navbar-wrapper">
    <div class="nav-container">
        <div class="nav-left">
            <a href="#home" class="logo-container">
                <img src="../asset/logo/Untitled_design-removebg-preview33.png" alt="White Rock Bistro Logo" class="logo-img">
            </a>
        </div>

        <div class="nav-right">
            <nav class="nav-links" id="navLinks">
                <a href="../index.html" class="nav-link active">Home</a>
                <a href="./about.html" class="nav-link">About</a>
                <a href="./menu.html" class="nav-link">Menu</a>
                <a href="../gallery.html" class="nav-link">Gallery</a>
                <a href="../index.html#testimonials" class="nav-link">Testimonials</a>
                <a href="../contact.html" class="nav-link">Contact</a>
                <a href="../contact.html#reserve" class="nav-link mobile-book-btn">Book Table</a>
            </nav>
            <a href="../contact.html#reserve" class="btn-book">Book Table</a>
        </div>

        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>